@import "tailwindcss";


* {
  
  box-sizing: border-box;
}


@layer base {
  :root {
    --bimo-red: #E31E24;
    --bimo-gold: #F2A950;
    --bimo-cream: #FDF6E9;
    --bimo-chocolate: #3D1E12; 
    --bimo-dark: #151414;
  }
  
}


.font-arabic {
  font-family: var(--font-arabic), sans-serif;
}

.font-english {
  font-family: var(--font-english), sans-serif;
}

